html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 22px;
    color: $default;
    @extend %pt-400;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-size: 18px;
    line-height: 24px;
    color: $title;
}
.accent-title{
    font-size: 17px;
    line-height: 16px;
    color: $accent;
    @extend %pt-700;
    padding-bottom: 12px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.breadcrumbs{
    font-size: 15px;
    line-height: 16px;
    padding: 45px 0;
    &__list{
        display: flex;
    }
    &__item+.breadcrumbs__item{
        margin-left: 5px;
    }
    &__link{
        color: $title;
        @extend %pt-700;
    }
}

.slick-dots{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        opacity: 0.3;
        
    }
    li+li{
        margin-left: 8px;
    }
    button{
        padding: 0;
        margin: 0;
        width: 8px;
        height: 8px;
        border: none;
        border-radius: 50%;
        font-size: 0;
        background-color: $accent;
    }
    .slick-active{
        opacity: 1;
    }
}

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    line-height: 16px;
    margin-top: 70px;
    &__list{
        display: flex;
    }
    &__list-item+.pagination__list-item{
        margin-left: 10px;
    }
    &__arrows{
        &:hover{
            transition: all .3s;
            background-color: $accent;
            color: #fff;
            path{
                transition: all .3s;
                stroke: #fff;
            }
        }
    }
    &__prev{
        margin-right: 10px;
        transform: rotate(180deg);
    }
    &__next{
        margin-left: 10px;
    }
    a{
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        color: $default;
        display: flex;
        justify-content: center;
        align-items: center;
        &.current-page{
            background-color: $accent;
            color: #fff;
            path{
                stroke: #fff;
            }
        }
    }
}

.star{
    padding: 0;
}

#overlay,
.overlay{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in-out;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active,
.overlay.overlay-active{
    opacity: 1;
    pointer-events: all;
}
#modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.login{
    max-height: 600px;
    &__text-line{
        width: 103px;
        height: 1px;
        background-color: #eaeaea;
    }
}

.register{
    max-height: 655px;
    &__form-input:nth-child(4){       
        background-image: url('../images/icons/hide.svg');
        background-repeat: no-repeat;
        background-position: 98% center;      
    }
}
.register.register-active{
    transform: translate(-50%, -50%) scale(1);
}


.login,
.register{
    max-width: 500px;
    width: 100%;
    height: 100%;
    border-bottom: 10px solid $accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 18px;
        height: 18px;
        padding: 0;
        background-color: transparent;
        background-image: url('../images/icons/x.svg');
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
    }
    &__top{
        margin-bottom: 50px;
    }
    &__list{
        display: flex;
        justify-content: center;
    }
    &__link{
        font-size: 20px;
        line-height: 16px;
        color: $title;
        &.login__link-active,
        &.register__link-active{
            color: $accent;
            @extend %pt-700;
            cursor: default;
        }
    }
    &__list-item{
        padding: 0 15px;
        position: relative;
        &:first-child::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: $title;
            right: 0;
            bottom: 4px;
        }
    }
    &__form{
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    &__form,
    &__aditional{
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }
    &__form-text{
        font-size: 13px;
        line-height: 16px;
        color: $title;  
        margin-bottom: 25px;
    }
    &__form-input{
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        padding: 14px;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        outline: none;
        &:focus{
            border-color: $accent;
        }
    }
    &__form-input{
        &:last-of-type{
            background-image: url('../images/icons/hide.svg');
            background-repeat: no-repeat;
            background-position: 98% center;
        }
    }
    &__form-link{
        align-self: end;
        font-size: 14px;
        line-height: 16px;
        color: $accent;
        margin-bottom: 25px;
    }
    &__form-btn{
        border-radius: 5px;
        width: 100%;
        padding: 0;
        border: 0;
        height: 40px;
        border-radius: 5px;
        color: #fff;
        background-color: $accent;
        @extend %pt-700;
    }
    &__textbox{
        margin-bottom: 25px;
        max-width: 300px;
        display: inline-flex;
        align-items: center;
    }
    &__text{
        font-size: 13px;
        line-height: 16px;
        padding: 0 10px;
        color: $title;
    }

}
