$default: #727272;
$title: #3d3d3d;
$accent: #46A358;
$bg: #FBFBFB;

%pt-700{
    font-family: 'PTSans-Bold';
    font-weight: 700;
}

%pt-400{
    font-family: 'PTSans-Regular';
    font-weight: 400;
}