@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
    padding: 25px 0 10px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 18px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item+.menu__list-item{
        margin-left: 55px;
    }
    &__list-link{
        font-size: 16px;
        color: $title;
        padding-bottom: 24px;
        &:hover{
            @extend %pt-700;
            color: $accent;
            border-bottom: 3px solid $accent;
        }
    }
}

.user-nav{
    &__list{
        display: flex;
        align-items: center;
    }
    &__list-item+.user-nav__list-item{
        margin-left: 30px;
    }
    &__item-link{
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            path{
                transition: all .3s;
                fill: $accent;
            }
        }
        &:last-child{
            position: relative;
            span{
                position: absolute;
                width: 14px;
                height: 14px;
                border: 2px solid #fff;
                border-radius: 50%;
                background-color: $accent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                line-height: 13px;
                top: 0;
                right: -5px;
            }
        }
    }
    &__btn{
        width: 100px;
        height: 35px;
        background-color: $accent;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 6px;
        svg{
            margin-right: 10px;
        }
    }
}

.footer{
    &__item{
        padding: 0 20px 0 30px;
        max-width: 240px;
        width: 100%;
    }
    &__item-last{
        max-width: 400px;
        width: 100%;
    }
}
.footer-top,
.footer-contact{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top{
    background-color: $bg;
    &__item{
        border-left: 1px solid rgba(70, 163, 88, 0.1);
        &:first-child,
        &:last-child{
            border: none;
        }
    }
    .title{
        margin: 17px 0 9px;
    }
    &__item-imgbox{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 74px;
            height: 74px;
            background-color: rgba(70, 163, 88, 0.13);
            border-radius: 50%;
            left: 0;
            bottom: 0;
        }
    }
    &__item-img{
        margin-left: 10px;
    }
    &__form{
        margin: 17px 0;
        display: flex;
    }
    &__form-input{
        max-width: 270px;
        width: 100%;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: none;
        outline: none;
        padding: 0 11px;
        &::placeholder{
            color: #ACACAC;
        }
    }
    &__form-btn{
        max-width: 85px;
        width: 100%;
        height: 40px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: none;
        background-color: $accent;
        color: #fff;
    }
}
.footer-contact{
    background-color: rgba(70, 163, 88, 0.1);
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-left: none;
    border-right: none;
    &__link{
        color: $default;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: -30px;
        }
    }
    &__address{
        &::before{
            background-image: url('../images/icons/location.svg');
            bottom: 10px;
        }
    }
    &__email{
        &::before{
            background-image: url('../images/icons/message.svg');
            bottom: -2px;
        }
    }
    &__phone{
        &::before{
            background-image: url('../images/icons/calling.svg');
            bottom: -2px;
        }
    }
}

.footer-bottom{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: $bg;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
    .title{
        margin-bottom: 13px;
    }
    &__list-link{
        color: $title;
        line-height: 30px;
    }
}
.social-list{
    display: flex;
    margin: 24px 0 33px;
    &__item+.social-list__item{
        margin-left: 10px;
    }
    &__link{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $accent;
        background-color: #fff;
        border-radius: 4px;
        &:hover{
            transition: all .3s;
            background-color: $accent;
            path{
                transition: all .3s;
                fill: #fff;
                fill-opacity: 1;
            }
        }
    }
}
.payment-list{
    display: flex;
    &__item+.payment-list__item{
        margin-left: 15px;
    }
}

.footer-basement{
    text-align: center;
    padding: 6px 0 13px;
}

.top-slider{
    margin-bottom: 25px;
}

.slider{
    &__item{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    }
    &__content{
        padding: 68px 40px 85px;
    }
    &__imgbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-subtitle{
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $title;
        margin-bottom: 7px;
    }
    .shop-title{
        text-transform: uppercase;
        font-size: 70px;
        line-height: 70px;
        color: $title;
        @extend %pt-700;
        span{
            color: $accent;
        }
        margin-bottom: 5px;
    }
    &__item-text{
        margin-bottom: 44px;
    }
    &__item-link{
        width: 140px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        text-transform: uppercase;
        background-color: $accent;
        color: #fff;
        @extend %pt-700;
    }
    .slick-dots{
        right: 0;
        left: 0;
        bottom: 10px;
    }
}

.recomended{
    margin-bottom: 100px;
    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
}
.recomended-item{
    background-image: linear-gradient(to top, #fbfbfb 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%, #fbfbfb 100%);
    background-position: bottom 80%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        width: 256px;
        height: 256px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $accent;
        left: -33%;
        bottom: -64%;
    }
    &::before{
        content: '';
        position: absolute;
        width: 256px;
        height: 256px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $accent;
        left: -35%;
        bottom: -57%;
    }
    &__content{
        max-width: 290px;
        width: 100%;
        text-align: right;
        padding-bottom: 25px;;
    }
    &__imgbox{
        max-width: 292px;
        max-height: 292px;
        padding-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .title{
        margin-bottom: 5px;
    }
    &__text{
        margin-bottom: 15px;
    }
    &__link{
        float: right;
        width: 140px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent;
        color: #fff;
        border-radius: 6px;
        svg{
            margin-left: 10px;
        }
        path{
            fill: #fff;
        }
    }
}

.blog{
    margin-bottom: 100px;
    &__title{
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        color: $title;
        margin-bottom: 15px;
        @extend %pt-700;
    }
    &__text{
        text-align: center;
        margin-bottom: 35px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
    }
    &__item-imgbox{
        max-width: 270px;
        width: 100%;
        max-height: 196px;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__item-inner{
        padding: 10px;
    }
    &__item-info{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        color: $accent;
    }
    &__info-date{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 22px;
            background-color: $accent;
            bottom: 0;
            right: -15px;
        }
    }
    .title{
        margin-bottom: 5px;
    }
    &__item-text{
        margin-bottom: 10px;
    }
    &__item-linkbox{
        display: flex;
        align-items: center;
        position: relative;
    }
    &__item-link{
        color: $title;
        position: relative;
        svg{
            position: absolute;
            top: 3px;

            margin-left: 10px;
        }
        &:hover{
            transition: all .3s;
            color: $accent;
            path{
                transition: all .3s;
                fill: $accent;
            }
        }
    }
}

.shop{
    margin-bottom: 100px;
    &__inner{
        display: flex;
    }
    &__supersale{
        width: 100%;
        height: 470px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__content{
        width: 100%;
    }
    &__content-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 70px;
    }
    &__content-sort{
        display: flex;
        align-items: center;
        form{
            height: 22px;
            cursor: pointer;
            .jq-selectbox__select{
                width: 120px;
                text-align: right;
                height: 22px;
                padding: 0 20px 0 5px;
                background: transparent;
                color: $title;
                @extend %pt-400;
                font-size: 14px;
                line-height: 22px;
                border: none;
                box-shadow: none;
                &:hover{
                    background: transparent;
                } 
            }
            .jq-selectbox.jqselect.shop__sort-select.dropdown.opened{
                .jq-selectbox__trigger-arrow{
                    transition: all .3s;
                    transform: rotate(180deg);
                }
            }
            .jq-selectbox__trigger-arrow{
                position: absolute;
                right: 0;
                top: 4px;
                width: 16px;
                height: 16px;
                border: none;
                background-image: url('../images/icons/arrow-down.svg');
            }
            .jq-selectbox__trigger{
                border: none;
            }
            .jq-selectbox__dropdown{
                ul{
                    padding-left: 10px;
                    background-color: #fff;
                }
            }
        }
        span{
            color: $title; 
            @extend %pt-400;
        }
    }
    &__content-filters{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__mix-btn{
        background-color: transparent;
        border: none;
        padding: 0;
        &+.shop__mix-btn{
            margin-left: 55px;
        }
        &.shop__mix-btn--active{
            @extend %pt-700;
            color: $accent;
            border-bottom: 2px solid $accent;
        }
    }
}

.product{
    width: 260px;
    height: 350px;
    border-top: 1px solid transparent;
    &:nth-child(3n+1){
        justify-self: start;
    }
    &:nth-child(3n+2){
        justify-self: center;
    }
    &:nth-child(3n+3){
        justify-self: end;
    }
    &:hover{
        transition: all .5s;
        border-top: 1px solid $accent;
        .product__linkbox{
            transition: all .5s;
            transform: translateY(125px);
        }
    }
    &__imgbox{
        height: 300px;
        width: 100%;
        background-color: $bg;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        img{
            width: 250px;
            height: 250px;
            object-fit: scale-down;
        }
    }
    &__sale,
    &__new{
        position: absolute;
        width: 80px;
        height: 30px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 15px;
        visibility: hidden;
    }
    &.product-sale{
        .product__sale{
            visibility: visible;
        }
    }
    &.product-new{
        .product__new{
            visibility: visible;
        }
    }
    &__linkbox{
        position: absolute;
        width: 125px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        transform: translateY(300px);
    }
    &__linkbox-link{
        width: 35px;
        height: 35px;
        border-radius: 4px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            path{
                transition: all .3s;
                fill: $accent;
            }
        }
    }
    &__info-name{
        font-size: 16px;
        line-height: 16px;
        color: $title;
        margin: 12px 0 6px;
    }
    &__info-price{
        display: flex;
        font-size: 18px;
        line-height: 16px;
    }
    &__info-price--new{
        color: $accent;
        @extend %pt-700;
        margin-right: 15px;
    }
    &__info-price--old{
        color: #A5A5A5;
        text-decoration: line-through;
    }
}

.filter{
    min-width: 290px;
    background-color: $bg;
    margin-right: 50px;
    &__categories,
    &__size,
    &__price{
        padding: 15px 20px;      
    }
    &__categories,
    &__size{
        .title{
            margin-bottom: 7px;
        }
    }
    &__categories{
        margin-bottom: 35px;
    }
    &__categories-label,
    &__size-label{
        display: block;
        cursor: pointer;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__categories-input{
        @extend %checkbox-hidden;
        &:checked+.filter__categories-checkbox{
            color: $accent;
            @extend %pt-700;
        }
    }
    &__size-input{
        @extend %checkbox-hidden;
        &:checked+.filter__size-checkbox{
            color: $accent;
            @extend %pt-700;
        }
    }
    &__categories-checkbox,
    &__size-checkbox{
        display: flex;
        justify-content: space-between;
    }
    &__price{
        margin-bottom: 35px;
        .title{
            margin-bottom: 20px;
        }
    }
    &__price-range{
       margin-bottom: 15px;;
    }
    &__price-from,
    &__price-to{
        color: $accent;
        @extend %pt-700;
    }
    &__price-btn{
        width: 95px;
        height: 35px;
        border-radius: 6px;
        border: none;
        background-color: $accent;
        color: #fff;
        @extend %pt-700;
    }
    &__price-range{
        color: $accent;
    }
}

.irs--flat {
    height: 20px;
}

.irs--flat .irs-line {
    top: 0;
    height: 4px;
    background-color: rgba(70, 163, 88, 0.2);
    border-radius: 0;
}
.irs--flat .irs-handle {
    top: -8px;
    width: 18px;
    height: 18px;
    background-color: #46A358;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-bar {
    top: 0px;
    height: 4px;
    background-color: #46A358;
}
.irs--flat .irs-min, .irs--flat .irs-max{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}








.product-page{
    margin-bottom: 100px;
    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    &__slider{
        display: flex;
        .slick-vertical .slick-slide{
            height: 100px;
            margin-bottom: 15px;
        }
    }
    &__slider-thumb{
        width: 100px;
        height: 445px;
        margin-right: 30px;
        .slick-slide.slick-current.slick-active{
            .product-page__thumb-item{
             border: 1px solid $accent;
            }
         }
    }
    &__thumb-item{
        cursor: pointer;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg;
        border: 1px solid transparent;
        img{
            width: 100px;
            height: 100px;
            object-fit: scale-down;
        }
    }
    &__slider-big{
        width: 445px;
        height: 445px;
    }
    &__big-item{
        width: 445px;
        height: 445px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: $bg;
        img{ 
            width: 405px;
            height: 405px;
            object-fit: cover;
        }
    }
    &__content{
        justify-self: end;
    }
    &__title{
        font-size: 28px;
        line-height: 28px;
        color: $title;
        @extend %pt-700;
        margin-bottom: 20px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 13px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        margin-bottom: 15px;
    }
    &__price{
        font-size: 22px;
        line-height: 16px;
        color: $accent;
        @extend %pt-700;
    }
    &__info{
        display: flex;
    }
    &__info-reviews{
        font-size: 15px;
        line-height: 16px;
        color: $title;
        margin-left: 10px;
    }
    &__description-title{
        font-size: 15px;
        line-height: 16px;
        color: $title;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
    &__description-sku,
    &__description-categories,
    &__description-tags{
        font-size: 15px;
        line-height: 16px;
        color: #A5A5A5;
        span{
            color: $default;
        }
    }
    &__description-sku{
        margin: 24px 0 10px;
    }
    &__description-categories{
        margin-bottom: 10px;
    }
    &__description-tag{
        color: $default;
    }
    &__share{
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
        font-size: 15px;
        line-height: 16px;
        span{
            margin-right: 20px;
            color: $title;
        }
    }
    &__share-list{
        display: flex;
        align-items: flex-end;
        li+li{
            margin-left: 15px;
        }
    }
    &__share-link{
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__filter-size{
        margin-bottom: 20px;
    }
    &__size-input{
        @extend %radio-hidden;
        &:checked{
            & + .product-page__size-checkbox{
                border-color: $accent;
                color: $accent;
            }
        }
    }
    &__size-label{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__size-checkbox{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #EAEAEA;
        color: $default;
    }
    &__filter-title{
        margin-bottom: 10px;
    }
    &__box{
        display: flex;
    }
    &__input-num{
        position: relative;
        border: none;
        outline: none;
        width: 120px;
    }
    &__form-btn{
        &+.product-page__form-btn{
            margin-left: 10px;
        }
        text-transform: uppercase;
        height: 40px;
        background-color: #fff;
        color: $accent;
        border: 1px solid $accent;
        border-radius: 6px;
        padding: 0;
        margin: 0;
        &:hover{
            transition: all .3s;
            background-color: $accent;
            color: #fff;
            path{
                transition: all .3s;
                fill: #fff;
            }
        }
    }
    &__form-buy{
        margin-left: 25px;
    }
    &__form-buy,
    &__form-cart{
        width: 130px;
    }
    &__form-heart{
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .jq-number{
    //     padding: 0;
    // }
    // .jq-number__field{
    //     width: 120px;

    // }
    .jq-number__field input{
        width: 100%;
        font-size: 20px;
        line-height: 10px;
        @extend %pt-400;
        color: $title;
        text-align: center;
        padding: 7px 33px;
    }
    .jq-number__spin{
        position: absolute;
        width: 33px;
        height: 38px;
        border-radius: 30px;
        background: $accent;
        cursor: pointer;
        bottom: 1px;
    }
    .jq-number__spin.minus{
        left: 0;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            background-color: #fff;
            top: 50%;
            left: 35%;
        }
    }
    .jq-number__spin.plus{
        right: 0;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            background-color: #fff;
            top: 50%;
            right: 30%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 2px;
            height: 12px;
            background-color: #fff;
            top: 37%;
            right: 45%;
        }
    }
}

.tabs{
    margin: 90px 0 100px;
    &__top{
        margin-bottom: 20px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        padding-bottom: 12px;  
    }
    &__top-link{
        font-size: 17px;
        line-height: 16px;
        color: $title;
        padding-bottom: 11px;
        &+.tabs__top-link{
            margin-left: 50px;
        }
        &.tabs__top-active{
            @extend %pt-700;
            color: $accent;
            border-bottom: 3px solid $accent;
        }
    } 
    &__item{
        display: none;
    }
    &__item.tabs__item-active{
        display: block;
    }    
    &__description{
        p{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        h6{
            @extend %pt-700;
            line-height: 24px;
            font-size: 14px;
            color: $title;
        }
    }
    &__comment{
        margin-bottom: 30px;
        display: flex;  
    }
    &__comment-avatar{
        min-width: 100px;
        height: 100px;
        margin-right: 30px;
        img{
            width: 100px;
            height: 100px;
            object-fit: scale-down;
        }
    }
    &__comment-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__comment-info--author{
        font-size: 18px;
        line-height: 24px;
        @extend %pt-700;
        color: $title;
    }
    &__comment-info--date{
        @extend %pt-700;
        color: $title;
    }
    &__comment-content{
        margin-top: 15px;
    }
    &__comment-form{
        max-width: 600px;
        .title{
            margin-bottom: 15px;
        }
        label{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
    &__comment-form--input,
    &__comment-form--textarea{
        border: 1px solid $title;
        outline: none;
        border-radius: 6px;
        &:focus{
            border: 1px solid $accent;
        }
        &::placeholder{
            color: $title;
            font-size: 16px;
            line-height: 16px;
        }
    }
    &__comment-form--input{
        width: 290px;
        height: 40px;
        padding: 0 10px;
    }
    &__comment-form--textarea{
        width: 100%;
        min-height: 300px;
        resize: none;
        margin-bottom: 20px;     
        padding: 10px;
    }
    &__comment-form--btn{
        border: none;
        color: #fff;
        background-color: $accent;
        width: 130px;
        height: 40px;
        border-radius: 6px;
    }
}


.related,
.interest{
    padding-bottom: 60px;
    margin-bottom: 100px;
    &__title{
        margin-bottom: 45px;
    }
}
.related{
    &__slider{
        position: relative;    
        .slick-dots{
            right: 0;
            left: 0;
            bottom: -70px;
        }
        .slick-slide{
            height: 304px;
        }
    }
}

.related-product{
    max-width: 220px;
    max-height: 304px;
    overflow: hidden;
    &__imgbox{
        background-color: $bg;
        width: 100%;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
    &__info-name{
        font-size: 15px;
        line-height: 16px;
        color: $title;
        margin-bottom: 5px;
    }
    &__info-price{
        display: flex;
    }
    &__info-price--new{
        margin-right: 10px;
        color: $accent;
        font-size: 16px;
        line-height: 16px;
        @extend %pt-700;
    }
}


.cart{
    margin-bottom: 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        max-width: 775px;
        width: 100%;
    }
    &__inner-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        .cart-content__total{
            color: $title;
            @extend %pt-400;
        }
    }
    &__inner-top--title{
        color: $title;
    }
}

.cart-content.cart-content__killed{
    display: none;
}

.cart-content{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $bg;
    height: 70px;
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 380px;
        width: 100%;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__imgbox{
        width: 70px;
        height: 70px;
        margin-right: 15px;
        img{
            width: 70px;
            height: 70px;
            object-fit: scale-down;
        }
    }
    &__name{
        color: $title;
        margin-bottom: 5px;
    }
    &__sku{
        font-size: 14px;
        line-height: 16px;
        color: #A5A5A5;
        span{
            color: $default;
        }
    }
    &__price{
        max-width: 80px;
        width: 100%;
    }
    &__quantity{
        max-width: 90px;
        width: 100%;
    }
    &__form-input{
        width: 100%;
        position: relative;
        border: none;
    }
    .jq-number__field input{
        width: 100%;
        font-size: 17px;
        line-height: 10px;
        @extend %pt-400;
        color: $title;
        text-align: center;
        padding: 2px 25px;
    }
    .jq-number__spin{
        position: absolute;
        width: 22px;
        height: 25px;
        border-radius: 30px;
        background: $accent;
        cursor: pointer;
        bottom: 1px;
    }
    .jq-number__spin.minus{
        left: 0;
        &::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            background-color: #fff;
            top: 48%;
            left: 33%;
        }
    }
    .jq-number__spin.plus{
        right: 0;
        &::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            background-color: #fff;
            top: 48%;
            right: 30%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            background-color: #fff;
            top: 37%;
            right: 45%;
        }
    }
    &__total{
        @extend %pt-700;
        color: $accent;
        max-width: 80px;
        width: 100%;
    }
    &__kill{
        max-width: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__kill-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        padding: 0;
        &:hover{
            path{
                stroke: $accent;
            }
        }
    }
}

.cart-aside{
    max-width: 340px;
    width: 100%;
    margin-left: 85px;
    .title{
        padding-bottom: 10px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        margin-bottom: 10px;
    }
    &__totals{
        margin-bottom: 15px;
    }
    &__total-subtotal,
    &__total-discount,
    &__total-shipingbox,
    &__total-total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 15px;
            line-height: 16px;
            color: $title;
        }
        span[class]{
            font-size: 18px;
            line-height: 16px;
        }
    }   
    &__total-subtotal{
        margin-bottom: 15px;
    }
    &__total-discount{
        margin-bottom: 20px;
    }
    &__total-shipingbox{
       margin-bottom: 10px;
    }
    &__total-shiping{
        margin-bottom: 25px;
    }
    &__total-shiping--info{
        font-size: 12px;
        line-height: 16px;
        color: $accent;
        display: flex;
        justify-content: flex-end;
    }
    &__total-total{
        @extend %pt-700;
        margin-bottom: 30px;
        span[class]{
            font-size: 18px;
            line-height: 16px;
            color: $accent;
        }
    }
    &__total-done{
        width: 100%;
        height: 40px;
        background-color: $accent;
        color: #fff;
        border: none;
        border-radius: 3px;
    }
    &__back{
        font-size: 15px;
        line-height: 16px;
        color: $accent;
        display: flex;
        justify-content: center;
    }
}

.coupon-form{
    margin-bottom: 30px;
    &__title{
        font-size: 14px;
        line-height: 16px;
        color: $title;
        margin-bottom: 10px;
    }
    label{
        display: flex;
    }
    &__input{
        width: 240px;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $accent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        outline: none;
        &::placeholder{
            color: #A5A5A5;
            font-size: 14px;
            line-height: 15px;
        }
    }
    &__btn{
        @extend %pt-700;
        width: 100px;
        height: 40px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #fff;
        background-color: $accent;
    }
}

@import 'media';