<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="css/my-account.min.css">
</head>

<body>

    {% include 'app/module/_login/_login.html' %}
    {% include 'app/module/_register/_register.html' %}
    <div class="overlay"></div>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_details/_details.html' %}
    </main>
    
    <script>
        const UPLOAD_BUTTON = document.getElementById("upload-button");
        const FILE_INPUT = document.querySelector("input[type=file]");
        const AVATAR = document.getElementById("avatar");
    
        UPLOAD_BUTTON.addEventListener("click", () => FILE_INPUT.click());
    
        FILE_INPUT.addEventListener("change", event => {
        const file = event.target.files[0];
    
        const reader = new FileReader();
        reader.readAsDataURL(file);
    
        reader.onloadend = () => {
            AVATAR.setAttribute("aria-label", file.name);
            AVATAR.style.background = `url(${reader.result}) center center/cover`;
            };
        });
    </script>
    <script src="js/main.min.js"></script>

</body>

</html>