.confirm.confirm-active{
    transform: translate(-50%, -50%) scale(1);
    transition: .3s ease-in-out;
}

.confirm{
    max-width: 580px;
    max-height: 850px;
    width: 100%;
    height: 100%;
    border-bottom: 10px solid $accent;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
    &__wrapper{
        padding: 0 40px;
    }
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 18px;
        height: 18px;
        padding: 0;
        background-color: transparent;
        background-image: url('../images/icons/x.svg');
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
    }
    &__top{
        padding-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(70, 163, 88, 0.06);;
    }
    &__top-text{
        margin-bottom: 15px;
    }
    &__info{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid rgba(70, 163, 88, 0.2);
        border-left: none;
        border-right: none;
        width: 100%;
    }
    &__info-item{
        margin: 15px 0;
        justify-self: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: rgba(70, 163, 88, 0.2);
            bottom: 0;
            right: -40px;
        }
        &:last-child::after{
            display: none;
        }
    }
    &__info-title{
        @extend %pt-400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
    }
    &__info-number{
        font-size: 15px;
        line-height: 16px;
        @extend %pt-700;
    }
    &__inner{
        margin-bottom: 20px;
        .title{
            margin: 18px 0 12px;
        }
        .cart__inner-top{
            font-size: 16px;
            line-height: 16px;  
            color: $title;
        }
    }
    &__text{
        padding-top: 18px;
        margin-bottom: 50px;
        text-align: center;
        border-top: 0.3px solid rgba(70, 163, 88, 0.5);
    }
    &__btn{
        width: 160px;
        height: 45px;
        border-radius: 5px;
        border: none;
        background-color: $accent;
        color: #fff;
        margin-bottom: 50px;
    }
    .cart-aside__total-shipingbox{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .cart-aside__total-total{
        margin-bottom: 20px;
    }
}